<div class="application-top mb-3 ">
    <div class="m-3 text-center" >
        <h3 class="my-5 text-center">
            海の情報を共有しよう
        </h3>
    <%= link_to "アカウント作成", '#', class: "btn btn-lg btn-primary btn-block"%>
    <p></p>
    <%= link_to "ログイン", '#', class: "btn btn-lg btn-light btn-block" %>
    </div>
    <div class="p-4 text-center top-container" >
        <h4 class=" text-center">
            See Dot とは?
        </h4>
        <h5>
            <p>船上の生活を楽しむ為に作られた、情報共有WEBサービスです。</p>
            <p>海の上で生き物を見つけたら、写真と位置情報を載せて投稿しましょう</p>
            <p>全国の船乗りに共有できます！</p>
        </h5>
    </div>
</div>

