<div class="application-top mb-3">
  <div class="p-3 text-center" >
    <h1 class="pt-5 pb-1">
      <p>海の情報共有サービスを</p>
      <p>始めましょう!</p>
    </h1>
    <div class="p-5 top-container">
      <div class="top-text">
        <h2>See Dot とは?</h2><br>
        <h3>
          <p>船上の生活を楽しむ為に作られた、情報共有WEBサービスです。</p><br>
          <p>海の上で生き物を見つけたら、写真と位置情報を載せて投稿しましょう</p><br>
          <p>全国の船乗りと共有できます！</p>
        </h3>
      </div>
    </div>
    <%= link_to "アカウント作成",  new_user_registration_path, class: "btn btn_width btn-primary mt-5 mb-4"%><br>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn_width btn-success mr-5" %>
    <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "btn btn_width btn-secondary" %>
  </div>
</div>