<div class="application-top mb-3 ">
    <div class="p-3 text-center" >
        <h3 class="py-5 text-center">
            <p>海の情報共有サービス</p>
            <p>を始めましょう!</p>
        </h3>
    <%= link_to "アカウント作成", '#', class: "btn btn-primary btn-block rounded-pill"%>
    <p></p>
    <%= link_to "ログイン", '#', class: "btn btn-outline-primary btn-block rounded-pill" %>
    </div>
    <div class="p-4 text-center top-container" >
        <h4 class=" text-center">
            See Dot とは?
        </h4>
        <h5>
            <p>船上の生活を楽しむ為に作られた、情報共有WEBサービスです。</p>
            <p>海の上で生き物を見つけたら、写真と位置情報を載せて投稿しましょう</p>
            <p>全国の船乗りと共有できます！</p>
        </h5>
    </div>
</div>

