<div class="py-5">
  <div class="text-center pb-5">
    <h2>最新の発見情報</h2>
  </div>
  
  <div class="card crature_card mx-auto " >
    <%= link_to "#", class: "link_color" do %>
      <img class="card-img-top creature_imgs" src="/assets/dolphin.jpg">
      <div class="card-body">
        <p class="card-title">（画像）(投稿者の名前)</p>
        <p class="card-text">(イルカを発見しました！！)</p>
      </div>
    <% end %>
  </div>
  <br>
  <div class="card crature_card mx-auto " >
    <%= link_to "#", class: "link_color" do %>
      <img class="card-img-top creature_imgs" src="/assets/dolphin.jpg">
      <div class="card-body">
        <p class="card-title">（画像）(投稿者の名前)</p>
        <p class="card-text">(イルカを発見しました！！)</p>
      </div>
    <% end %>
  </div>
  <br><div class="card crature_card mx-auto " >
    <%= link_to "#", class: "link_color" do %>
      <img class="card-img-top creature_imgs" src="/assets/dolphin.jpg">
      <div class="card-body">
        <p class="card-title">（画像）(投稿者の名前)</p>
        <p class="card-text">(イルカを発見しました！！)</p>
      </div>
    <% end %>
  </div>
  <br>

  <nav aria-label="...">
    <ul class="pagination justify-content-center py-5" >
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active">
        <span class="page-link">
          2
          <span class="sr-only">(current)</span>
        </span>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>