<div class="py-5 px-3">
  <div class="card">
    <img class="card-img-top creature_imgs" src="/assets/dolphin.jpg">
    <div class="card-body">
      <h3 class="card-title py-2">（画像）<%= link_to "#", class:"link_color" do %>(投稿者の名前)<% end %></h3>
      <h5 class="card-text py-2">(イルカを発見しました！！)</h5>
      <h5 class="card-text py-2">・緯度（42.4218649）</h5>
      <h5 class="card-text py-2">・経度（141・6592933）</h5>
      <h5 class="card-text py-2">・天候（晴れ） ・波高(3)m</h5>
      <h5 class="card-text py-2">・視程 (12)マイル ・気温 (19)°</h5>
      <h5 class="card-text py-2">・出発地 (八戸) ・目的地 (苫小牧)</h5>
      <%= link_to "削除する", creatures_info_path, data: { confirm: "本当に削除しますか？" }, method: :delete,class:"btn btn-outline-danger btn-block rounded-pill mt-5" %></p>
    </div>
  </div>
</div>