@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/*フラッシュ*/
.notice {
  color: white;
  background-color: rgb(52, 140, 255);
  text-align: center;
}
.alert {
  color: white;
  background-color: rgb(255, 127, 42);
  text-align: center;
}

/*エラーメッセージ*/
#error_explanation{
  color: white;
  background-color: rgb(255, 127, 42);
}

/*リンク*/
.link_color{
  text-decoration: none;
  color: black;
}

/*ヘッダー*/

.navbar{
  background-color:rgba(255,255,255,0.9);
}

.header_icon{
  font-size: 1.3em;
  color: rgb(64, 153, 255);
    }

/*トップ*/
.application-top{
  .top-container{
    color: white;
    background-image: url("/assets/see.jpeg");
    background-size: cover;
  }
}

/*画像*/
//ユーザー詳細
.user-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.default_user{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
//投稿一覧、ユーザー詳細
.creatures_card{
  width: 80%;
}
.creatures_infos_user_icon{
  border-radius: 50%;
  width: 4%;
  height: 4%;
}
//投稿詳細
.creatures_info_user_icon{
  border-radius: 50%;
  width: 5%;
  height: 5%;
}
