@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.notice {
  color: white;
  background-color: rgb(52, 140, 255);
  text-align: center;
}
.alert {
  color: white;
  background-color: rgb(255, 127, 42);
  text-align: center;
}

#error_explanation{
  color: white;
  background-color: rgb(255, 127, 42);
  text-align: left;
}

.link_color{
  text-decoration: none;
  color: black;
}

.navbar{
  background-color:rgba(255,255,255,0.9);
}

.header_icon{
  font-size: 1.3em;
  color: rgb(64, 153, 255);
    }

.top-container{
  color: rgb(0, 174, 255);
  background-image: url("/assets/map.png");
  background-size: cover;
  height: 600px;
  width: 100%;
  .top-text{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}

.top-image{
  background-image: url("/assets/map.png");
  background-size: cover;
  height: 600px;
  width: 100%;
}

.time_color{
  color: rgb(105, 105, 105);
}

.user-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.default_user{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.creatures_infos_user_icon{
  border-radius: 50%;
  width: 4%;
  height: 4%;
}
.creatures_info_user_icon{
  border-radius: 50%;
  width: 5%;
  height: 5%;
}

.pagination>li>a {          
  border: none;   
  color: #696969;   
}
.pagination {
  justify-content: center;
}

#map {
  height: 400px;
  width: 100%;
}

#maps {
  height: 600px;
  width: 100%;
}

.container-width{
  max-width: 800px;
  margin: auto;
}

.small_letters{
  font-size: 13px;
}