<footer class="footer py-3"><!--mt-auto fixed-bottom-->
  <div class="row text-center ">
    <div class="col-xs-12 col-md-2 ">
      ・<%= link_to "利用規約",  '#' %>
    </div>
    <div class="col-xs-12 col-md-2 ">
      ・<%= link_to "プライバシーポリシー", '#'%>
    </div>
    <div class="col-xs-12 col-md-2 ">
      ・<a href="#">お問い合わせ</a>
    </div>
  </div>
</footer>
